
#slider{
	/*margin:20px;*/
	max-width: 100%;
	width: 920px;
	/*height: 500px;*/
	float: left;
	z-index: 1;
}

#slider #viewport{
	/*height:480px;*/
}

#slider #slides_container{

}

#slider .slide{
	position: absolute;
	/*max-height: 300px;*/
}
#slider .slide_breaker{
	display: hidden;
	/*max-height: 300px;*/
}

#slider img{
	/*max-width: 900px;*/
	margin-bottom: 2em;
}

/*	this is the container
	for the numbered nav	*/
#slider #num_container{
	z-index: 9999;
	display: block;
	position: absolute;
	background: #fff;
	/*margin-top: 430px;*/
	/*margin-left: 748px;*/
	text-align: center;
	height: 45px;
	right:1.25em;
	vertical-align: top;
	/*padding: 0 15px;*/
	background: rgba(255, 255, 255, .8);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#num_container ul{
	margin:0;
	padding:0;
}

#num_container ul li.num{
	display: inline;
	float: left;
	cursor: pointer;
}

#num_container ul li.num p{
	display: inline;
	clear:none;
	float:left;
	margin: 10px;
	text-align: center;
	font-size: 1.2em;
}

#num_container ul li.num.current_num p{
	border-bottom: 1px solid #000;
}

.slider-arrow{
	font-size: 3em;
	color:white;
	position:absolute;
	z-index: 99998;
	display:block;
	top:0em;		
	margin-top: 22%;	
	cursor: pointer;
}
.slider-arrow:hover{
	text-decoration: none;
	color: #057bb7;
}

.slider-arrow#left-arrow{
	left:1em;
}
.slider-arrow#right-arrow{
	right:1em;	
}

.carousel-caption {
	font: 1.5em 'Oxygen', Geneva, sans-serif;
	color: #FFF;
	box-sizing: border-box;
	width:100%;
	padding:0.875em;
	background: #000000; /* Fallback color */
	background: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	float:right;
	bottom:2.7em;
}

ol.carousel-indicators{
	bottom:5.75em;
	top:inherit;	
}

@media (max-width: 480px) {
	.slide{ width: 90%; }
}

@media (min-width: 481px) and (max-width: 767px) {
	.slide{ width: 95%; }
}

@media (min-width: 768px) and (max-width: 980px) {
	.slide{ width: 95%; }
}

@media (min-width: 981px) and (max-width: 1199px) {
	.slide{ width: 96%; }
}

@media (min-width: 1200px) {
	.slide{ width: 97%; }
}

.slide{
	margin: 0 auto;
}
